VITE_CLERK_PUBLISHABLE_KEY=pk_test_c29jaWFsLXNreWxhcmstOTkuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_S9ltf1iNlTn70zDRbns3IpJk2hdyS4Hv0AYfsUvoMZ


VITE_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/NAR07p3fjDxxSkZMETZmz

VITE_PINIATE_SERVER_URL=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiI5MWE2NjBlOS02M2IyLTQzZDEtOWJhNS0xYzQzODAwZWQ4OTAiLCJlbWFpbCI6InN5bmFwc2VzMTIzMDk3NUBnbWFpbC5jb20iLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZSwicGluX3BvbGljeSI6eyJyZWdpb25zIjpbeyJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MSwiaWQiOiJGUkExIn0seyJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MSwiaWQiOiJOWUMxIn1dLCJ2ZXJzaW9uIjoxfSwibWZhX2VuYWJsZWQiOmZhbHNlLCJzdGF0dXMiOiJBQ1RJVkUifSwiYXV0aGVudGljYXRpb25UeXBlIjoic2NvcGVkS2V5Iiwic2NvcGVkS2V5S2V5IjoiZmIzMGY4OTIzZGIzNzMwMDIzNDEiLCJzY29wZWRLZXlTZWNyZXQiOiIwNzI3NTQxNzU2NzdiMjdkNDBjNGQ2NTMwYzExZGI1YjBkODA4M2U0OThkNzQxODU2MDMwMWMxMDkzNDBiZTMzIiwiZXhwIjoxNzgyOTA3NDQyfQ.D2wgXLUo4A_luzKIfzmOe37L4w1hTf0_XRe5DwRvyLM
VITE_PINIATE_GATEWAY_URL=gold-managing-bison-922.mypinata.cloud



# Supabase Configuration
VITE_SUPABASE_URL=https://lqwqecmahaqzuyzkojmc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imxxd3FlY21haGFxenV5emtvam1jIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTY1OTE4MzQsImV4cCI6MjA3MjE2NzgzNH0.kY2d-w_kLq_y40dL9oRJQfdswpOeIafQGTnGQU9ZPsk

# API Configuration
VITE_API_URL=https://api.reignestatescrm.site/api/v1
VITE_API_BASE_URL=https://api.reignestatescrm.site
VITE_WS_URL=https://api.reignestatescrm.site



VITE_STRIPE_PUBLISHABLE_KEY=pk_test_51NPQ4vG60ttcErW7Man2gUUDCzD6ODvrNMN8AuLwVJa96Ij6hymp1rRL8R9lEVgp50az0c2TuYIuNZrEPPBS7s7W00dvo0RAAh

# Environment
NODE_ENV=production

# Optional: Analytics
VITE_ANALYTICS_ID=your-analytics-id


OCR_URL=http://localhost:8000/   # or http://your-vps-ip:8000
